#main {
  width: 100%;
  background-color: var(--dark-xx);
}

.bar,
.bar-inferior {
  width: 15rem; /* Ajusta el ancho según tus necesidades */
  height: 2.5rem; /* Ajusta la altura según tus necesidades */
  background: linear-gradient(90deg, var(--dark-xx) 10%, var(--pink-dark));
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.bar {
  top: 25%;
  left: 5%;
}

.bar-inferior {
  bottom: 15%; /* Ajusta la posición inferior según tus necesidades */
  right: 1%; /* Ajusta la posición derecha según tus necesidades */
}

/* Ajusta el diseño para pantallas pequeñas */
@media (max-width: 600px) {
  .bar,
  .bar-inferior {
    width: 30%; /* Ajusta el ancho para pantallas pequeñas */
    height: 3%; /* Ajusta la altura para pantallas pequeñas */
  }

  .example-card {
    max-width: 100%; /* Hace que las tarjetas ocupen el 100% del ancho en pantallas pequeñas */
    padding: 8px 0;
  }
}

.example-card {
  width: 100%;
  max-width: 300px;
  margin:8px 0; /* Ajusta el margen según tus necesidades */
  box-sizing: border-box;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.cards-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.div-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

#main {
  width: 100%;
  background-color: var(--dark-xx);
}

.div-ver-mas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
}

.a-ver-mas-github {
  color: #6000b9;
  font-size: x-large;
}

a {
  color: #6000b9; /* Utilizar el color heredado (normalmente negro) */
}

/* Estilo para el enlace visitado */
a:visited {
  color: #6000b9; /* Utilizar el color heredado para enlaces visitados */
}

.img-size {
    width: 30px;
  }