<div id="main">
    <!-- <span class="bar"></span>
    <span class="bar" style="transform: translate(-25%, -15%) rotate(135deg);"></span> -->
    <div class="div-tittle">
        <span class="h1-light" style="color: #FFFFFF;">Hecha un vistazo a
            <b><span class="span-gradient-color">mis proyectos</span></b>
        </span>
    </div>

    <div class="cards-projects">
        <mat-card class="example-card">
            <mat-card-header class="title-center">
                <mat-card-title style="color: #FFFFFF">Frontend: Cafetería</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/cafe.png" alt="Cafeteria">
            <mat-card-content>
                <p class="p-descripcion-proyecto">
                    Un proyecto mostrando hábilidades de diseño frontend responsivo para una cafetería que presenta una
                    lista completa de sus variados cafés ofrecidos. El menú se puede manipular de acuerdo a la opción
                    seleccionada por el usuario.
                </p>
                <div class="chipset-tech">
                    <mat-chip-option color="accent" disabled>HTML</mat-chip-option>
                    <mat-chip-option color="accent" disabled>CSS</mat-chip-option>
                    <mat-chip-option color="accent" disabled>JavaScript</mat-chip-option>
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <a href="https://lxxs13.github.io/cafe-frontend/" target="_blank">
                    <button mat-raised-button class="button-project">Abrir demo</button>
                </a>
            </mat-card-actions>
        </mat-card>

        <!-- <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card> -->
    </div>
    <div class="div-ver-mas">
        <a href="https://github.com/lxxs13" target="_blank" class="a-ver-mas-github">
            <div style="display: flex; justify-content: center;">
                Ver más en GitHub
                <!-- <img src="../../../assets/images/chevron-forward-outline.svg" alt="" class="img-size a-ver-mas-github"> -->
            </div>
        </a>
    </div>
    <!-- <span class="bar-inferior"></span>
    <span class="bar-inferior" style="transform: translate(-25%, -15%) rotate(135deg);"></span> -->
</div>