<div id="div-technologies">
    <div>
        <span class="h1-bold">Mis
            <span class="span-gradient-color">Skills</span>
        </span>
    </div>
    <div class="div-skills">
        <img src="../../../assets/images/techn/angular-icon-1.svg" alt="" class="img-tech">
        <img src="../../../assets/images/techn/c--4.svg" alt="" class="img-tech">
        <img src="../../../assets/images/techn/java-4.svg" alt="" class="img-tech">
        <img src="../../../assets/images/techn/spring-3.svg" alt="" class="img-tech">
        <img src="../../../assets/images/techn/oracle-6.svg" alt="" class="img-tech">
        <img src="../../../assets/images/techn/microsoft-sql-server-1.svg" alt="" class="img-tech">
        <img src="../../../assets/images/techn/github-icon-2.svg" alt="" class="img-tech">
    </div>
</div>