div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  justify-content: space-evenly;
  background-color: var(--dark-xx);
}

.h1-bold {
  color: #ffffff;
}

/* Estilos base para todas las imágenes */
.img-tech {
  width: calc(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s; 
  transition: transform 0.3s; 
}

.img-tech:hover {
  filter: opacity(1);
  transform: translateY(-2rem);
}

.div-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 36px;
  width: 100%;
  padding-top: 16px;
  align-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
}

.div-skills:hover > :not(:hover) {
  filter: opacity(0.3);
}

#div-technologies {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 30px;
  padding: 40px 0;
}
