<div id="div-technologies">
    <div>
        <span class="h1-bold">Mis
            <span class="span-gradient-color">Skills</span>
        </span>
    </div>
    <div class="div-skills">
        <img src="assets/angular-icon-1.svg" alt="" class="img-tech" loading="lazy">
        <img src="assets/c--4.svg" alt="" class="img-tech" loading="lazy">
        <img src="assets/java-4.svg" alt="" class="img-tech" loading="lazy">
        <img src="assets/spring-3.svg" alt="" class="img-tech" loading="lazy">
        <img src="assets/oracle-6.svg" alt="" class="img-tech" loading="lazy">
        <img src="assets/microsoft-sql-server-1.svg" alt="" class="img-tech" loading="lazy">
        <img src="assets/github-icon-2.svg" alt="" class="img-tech" loading="lazy">
    </div>
    