<div id="main">
    <div class="div-container">
        <div style="display: grid;">
            <div style="width: 100%; place-self: center;">
                <span class="h1-bold">Somos expertos en la
                    <span class="span-gradient-color">creación de web apps</span>
                </span>
                <br>
                <span class="lead-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
                    distinctio
                    molestiae earum
                    officiis laborum quibusdam alias tenetur culpa aut, veniam ipsam eum itaque, illum harum ex odit
                    nam
                    ad
                    pariatur.
                </span>
                <div class="section-buttons">
                    <a href="https://www.linkedin.com/in/luis-quiroz-schlemm-6130a3206/" target="_blank">
                        <button mat-raised-button class="button-contactar">
                            <img src="../../../assets/images/logo-linkedin.svg" alt="" class="img-github" >
                        </button>
                    </a>
                    <a href="https://github.com/lxxs13" target="_blank">
                        <button mat-raised-button class="button-contactar">
                            <img src="../../../assets/images/logo-github.svg" alt="" class="img-github" >
                        </button>

                    </a>
                    <a href="../../../assets/docs/CV DESARROLLADOR LUIS QUIROZ SCHLEMM.pdf"
                        download="CV DESARROLLADOR LUIS QUIROZ SCHLEMM.pdf">
                        Descargar CV
                    </a>
                </div>
            </div>
        </div>
        <div id="img" *ngIf="!isHandset">
            <img src="../../../assets/images/laptop.jpg" alt="" >
        </div>
    </div>
</div>