* {
  color: #ffffff;
}

.span-gradient-color {
  background: linear-gradient(
    90deg,
    var(--pink-light),
    var(--pink-dark)
  ); /* Define tu gradiente de color */
  background-clip: text; /* Aplica el fondo dentro del área del texto */
  -webkit-background-clip: text; /* Para navegadores basados en WebKit (Chrome, Safari, etc.) */
  color: transparent; /* Hace el texto transparente para que el gradiente sea visible */
  display: inline-block; /* Asegura que el fondo degradado afecte solo al texto y no a todo el bloque */
}

span.lead-light {
  color: var(--muted);
}

#main {
  background-color: var(--dark-x);
  padding: 48px;
}

.div-container {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  box-sizing: border-box;
}

.div-container div {
  width: 100%;
  box-sizing: border-box;
}

#img {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 35vw;
  height: auto;
  border-radius: 16px;
}

.button-contactar {
  background: linear-gradient(
    90deg,
    var(--pink-light),
    var(--pink-dark)
  ); /* Define tu gradiente de color */
}

.section-buttons {
  padding-top: 24px;
  display: flex;
  gap: 4px;
}

@media (min-width: 600px) {
  .div-container div {
    width: 50%;
  }
}
