* {
  color: #ffffff;
}

.span-gradient-color {
  background: linear-gradient(90deg,
      var(--pink-light),
      var(--pink-dark));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

span.lead-light {
  color: var(--muted);
}

#main {
  background-color: var(--dark-x);
  padding: 48px;
}

.div-container {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px
}

.div-container div {
  width: 100%;
  box-sizing: border-box;
}

#img {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 35vw;
  height: auto;
  border-radius: 16px;
}

.button-contactar {
  background: linear-gradient(90deg,
      var(--pink-light),
      var(--pink-dark));
  /* Define tu gradiente de color */
}

.section-buttons {
  display: flex;
  justify-content: start;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 24px;
  gap: 8px;
}

.img-github {
  width: 30px;
}

.div-messages {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message {
  width: 100%;
}