<div id="main">
    <div class="div-container">
        <div class="div-messages">
            <div class="h1-bold message">Desarrollador enfocado en desarrollo
                <span class="span-gradient-color" id="expert"></span>
            </div>
        </div>
    </div>

    <figure class="profile-description">
        <div id="img-profile-pic" style="margin-bottom: 10px;">
            <img src="assets/Me.jpeg" alt="Luis Quiroz Photo">
        </div>
        <div>
            <span class="lead-light">
                Me apasiona el desarrollo web y a lo largo de mis 2 años de experiencia, he creado sitios web y
                aplicaciones web personalizadas, eficientes y atractivas.
                <br>
                <br>
                ¿Quieres saber más? ¡Echa un vistazo a mi portafolio!
                <br>
                ¿Estas listo para el siguiente paso? ¡Contáctame y empecemos a trabajar juntos!
            </span>
            <figcaption>
                <div class="section-buttons">
                    <a href="https://www.linkedin.com/in/luis-quiroz-schlemm-6130a3206/" target="_blank">
                        <button mat-raised-button class="button-contactar">
                            <img src="assets/logo-linkedin.svg" alt="" class="img-github">
                        </button>
                    </a>
                    <a href="https://github.com/lxxs13" target="_blank">
                        <button mat-raised-button class="button-contactar">
                            <img src="assets/logo-github.svg" alt="" class="img-github">
                        </button>

                    </a>
                    <a href="assets/CV Software Developer Luis Quiroz.pdf"
                        download="CV Software Developer Luis Quiroz.pdf">
                        Descargar CV
                    </a>
                </div>
            </figcaption>
        </div>
    </figure>
    <!-- <div class="div-container">
        <div style="display: grid;">
            <div style="width: 100%; place-self: center;">
                <div class="div-messages">
                    <div class="h1-bold message">Somos expertos en la creaci&oacute;n de
                        <span class="span-gradient-color" id="expert"></span>
                    </div>
                </div>
                <br>
                <span class="lead-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
                    distinctio
                    molestiae earum
                    officiis laborum quibusdam alias tenetur culpa aut, veniam ipsam eum itaque, illum harum ex odit
                    nam
                    ad
                    pariatur.
                </span>
                
            </div>
        </div>
    </div> -->
</div>