<header>
    <mat-toolbar class="custom-primary">
        <div class="toolbar-display">
            <div>
                <button mat-icon-button *ngIf="isHandset" (click)="toggleMenu()">
                    <mat-icon>menu</mat-icon>
                </button>
    
                <span class="paragraph-bold">Luis Quiroz Schlemm</span>
            </div>
    
            <div class="navigation-links" *ngIf="showNavigation()">
                <span class="paragraph-light" (click)="scrollToSection('presentation')">Inicio</span>
                <span class="paragraph-light" (click)="scrollToSection('about-me')">Sobre mí</span>
                <span class="paragraph-light" (click)="scrollToSection('my-projects')">Proyectos</span>
                <span class="paragraph-bold" (click)="scrollToSection('contact-me')">Contáctame</span>
            </div>
        </div>
    </mat-toolbar>
</header>