<mat-toolbar class="custom-primary">
    <div class="toolbar-display">
        <div>
            <button mat-icon-button *ngIf="isHandset" (click)="toggleMenu()">
                <mat-icon>menu</mat-icon>
            </button>

            <span class="paragraph-bold">Luis Quiroz Schlemm</span>
        </div>

        <div class="navigation-links" *ngIf="showNavigation()">
            <span class="paragraph-light">Inicio</span>
            <span class="paragraph-light">Sobre Mí</span>
            <span class="paragraph-light">Proyectos</span>
            <span class="paragraph-bold">Contáctame</span>
        </div>
    </div>
</mat-toolbar>