#main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-x);
  padding: 8px 24px 24px 24px;
}

#form-main-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  width: 60%;
  gap: 8px;
  border-radius: 4px;
  padding: 10px;
}

#div-email-name {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
  gap: 8px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.div-title{
  background-color: var(--dark-x);
  text-align: center;
}

.button-send-email {
  margin-top: 4px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background: linear-gradient(90deg, var(--pink-light), var(--pink-dark));
  cursor: pointer;
}

.div-action{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}